.dy-navbar{
    //Elements
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2.5% auto;
    }
    //modifiers
    // &--lg{}
    // &--sm{}
}